/* CSS for large screens */
@media screen and (min-width: 641px) {
    nav {
        display: flex; /* Display the normal navigation bar */
    }

    .ham-menu {
        display: none; /* Hide the hamburger menu */
    }
}

header {
    background-color: rgb(53, 3, 101);;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
}

nav {
    max-width: 800px;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

nav a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
}

nav a:hover {
    border: 1px solid steelblue;
    color: green;
}